@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

.choice {
  display: flex;

  gap: 20px;
  justify-content: center;
}

.container {
  margin: 0;
}

.form-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#datetime-picker {
  width: 200px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

button[data-start] {
  width: 50px;
  padding: 5px;
  font-size: 16px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
button[data-start]:disabled {
  background-color: #ccc;
}

.timer {
  display: flex;
  gap: 5px;
  margin-top: 20px;
}

.value {
  font-size: 2em;
  font-weight: bold;
  color: #333;
}

#date-message {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  display: none;
}

.form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  display: flex;
  flex-direction: column;
}

.form label {
  margin-bottom: 10px;
  font-size: 16px;
}

.form input[type='number'] {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 15px;
}

.form fieldset {
  margin-bottom: 15px;
}

.form label input {
  margin-right: 5px;
}
